@CHARSET "UTF-8";

table, th, tr, td {
	border: 2px solid;
	padding: 10px;
}

#lTable {
	text-align: center;
	float: inherit;
}

.tHead {
	font-weight: bold;
}

#details {
	border-top-right-radius: 2em;
	color: #ff7c41;
}

b {
	color: black;
	text-decoration: underline;
}